<!doctype html>
<html ng-app="citiesApp">
  <head>
    <title>Utah Cities</title>
  </head>
  <body>
    <h1>Utah City Weather</h1>
    <form>Enter a Utah City: <input type="text" id="cityfield" value=""><br />
    Possible Cities: <span id="txtHint">Empty</span>
    </form>
    <!--div ng-controller="cityController">
      <span>City</span>
      <input type="text" ng-model="inCity">
      <button ng-click="updateCities()">Submit</button>
      <hr>
      <ul>
        <li ng-repeat="city in cities">
        </li>
      </ul>
    </div-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--script src="http://code.angularjs.org/1.2.9/angular.min.js"></script-->
    <script src="script.js"></script>
  </body>
</html>